.palco{
   padding: calc(1vw + 1vh);
   width: 80%;
   margin: 0 auto calc(2vw + 2vh);
}

.palco:first-of-type{
   margin: calc(3vw + 3vh) auto calc(2vw + 2vh);
}

.palco:last-of-type{
   margin: 0 auto;
}

.palco__titulo{
   margin: 0 0 calc(1.5vh + 1.5vw);
   border-bottom: calc(0.15 * var(--size-normal)) solid;
   font-size: var(--size-normal);
   display: inline-block;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   filter: hue-rotate(330deg) contrast(0.7) brightness(1.1);
}

.palco__bandas{
   display: flex;
   flex-wrap: wrap;
   gap: 5%;
}