.formulario{
   padding: calc(.5vh + .5vw) 0;
}

.formulario > :last-of-type{
   margin-top: calc(2vh + 2vw);
}

.field-container{
   margin: 0 auto calc(.25vw + .25vh);
   display: flex;
   flex-direction: column;
   gap: 1vw;
   width: min(75%, calc(30 * var(--size-small)));
}

.field-container > label{
   display: inline-block;
   width: 6ch;
   color: #ccdbcc;
   font-size: var(--size-normal);
}

.field-container > input,
.field-container > select{
   font-size: var(--size-normal);
   padding-left: 1em;
   width: 100%;
   height: 2em;
   border-radius: 1em;
   border: 1px solid #191414;
   color: #ccdbcc;
   background-image: linear-gradient(45deg, transparent -500%, #191414 120%);
   background-color: var(--green);
   outline: none;
}

.field-container > select{
   appearance: none;
}

.field-container:has(select){
   position: relative;
}

.field-container:has(select)::before{
   position: absolute;
   content: "";
   display: inline-block;
   --size-arrow: var(--size-small);
   width: var(--size-arrow);
   aspect-ratio: 1;
   background-color: transparent;
   border-bottom: 1px solid var(--green);
   border-left: 1px solid var(--green);
   right: var(--size-arrow);
   bottom: var(--size-arrow);
   pointer-events: none;
   transform: scale(.5) rotate(-45deg);
   transition: transform .75s ease-in-out;
}

.field-container:has(.roda)::before{
   transform: scale(.5) rotate(135deg);
   transition: transform .25s ease-in-out;
}

option{
   background: #ccdbcc;
   color: #191414 ;
}

option:checked{
   background: #191414;
   color: #ccdbcc;
}

.field-container > input::placeholder{
   color: #1DB954;
   opacity: 0.7;
   font-size: var(--size-small);
}

input::-webkit-search-cancel-button{
   display: none;
}

.formulario form > button{
   width: min(75%, calc(30 * var(--size-small)));
   height: 3em;
   border-radius: 1.5em;
   background-image: linear-gradient(45deg, #1DB954 -50%, #191414 120%);
   border: 2px solid #191414;
   color: #ccdbcc;
   margin: calc(1.5vh + 1.5vw) auto;
   display: block;
   font-size: var(--size-small);
   font-weight: bold;
   cursor: pointer;
}

.novo-palco > label{
   width: auto;
   flex-shrink: 0;
}

input[type=text]{
   width: auto;
   flex-grow: 1;
} /*Input text behaves differently from others*/

.list-band-container{
   display: flex;
   flex-direction: column;
   gap: 2vh;
   max-height: 50vh;
   overflow-y: scroll;
   width: calc(-3vw - 3vh + min(75%, calc(30 * var(--size-small))));
   margin: 0 auto calc(1vh + 1vw);
   box-sizing: border-box;
   background-color: rgba(0,0,0,0.3);
}

.show{
   animation: grow 1s ease-in-out forwards;
   padding: 2vh 0 0 1.5vw;
}

@keyframes grow{
   from{
      max-height: 0;
   }
}

.list-band{
   display: flex;
   width: 100%;
   align-items: center;
   cursor: pointer;
}

form:has(.list-band) .field-container:first-child{
   margin-bottom: 0;
}

.band-name{
   color: #ccdbcc;
   font-weight: 500;
   font-size: var(--size-small);
   width: 100%;
   text-align: center;
}

.band-img{
   height: calc(7vh + 8vw);
   aspect-ratio: 1;
   border-radius: 50%;
   object-fit: cover;
   object-position: 0 15%;
}

.error-msg{
   color: #ccdbcc;
   text-align: center;

   padding: 0;
   margin: 0;
   top: 50%;
   transform: translateY(-50%);
   position: relative;
}

@media screen and (min-width: 800px){
   .field-container{
      flex-direction: row;
      gap: 2vw;
       align-items: baseline ;
   }
}

@media screen and (min-width: 1600px){
   
   .field-container > input,
   .field-container > select{
      height: 2.5em;
      border-radius: 1.25em;
   }
}