.banda{   
   width: 45%;
   margin-bottom: calc(3vw + 3vh);
   position: relative;
}

.banda:last-of-type{ 
   margin-right: auto;
}

.banda:nth-of-type(2n){
   margin-right: 0;
} 


.cabecalho__imagem{
   width: 75%;
   aspect-ratio: 1;
   border-radius: 50%;
   margin: 0 auto;
   display: block;
   transform: translateY(25%);

}

.banda__rodape{
   text-align: center;
}

.rodape__nome{
   font-size: var(--size-normal);
   margin: calc(6vw + 1vh) 0 0;
}

.rodape__genero{
   font-size: var(--size-small);
   opacity: 0.60;
   text-transform: lowercase;
   margin: 0 0 0 .5em;
}

.banda__excluir{
   position: absolute;
   right: 0;
   --size: calc(2vw + 2vh);
   height: var(--size);
   width: var(--size);
   filter: grayscale(.35);
}