.header{
   background-image: url('../../../public/joey-thompson-4zN_-PKsbWw-unsplash.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 30vh;
   mix-blend-mode: soft-light;
   position: relative;
   margin-bottom: 2rem;
}

.credit{
   width: 100%;
   height: var(--size-normal);
   padding: 0;
   margin: 0;
   
   position: absolute;
   bottom: calc(-1 * var(--size-normal));

   overflow: hidden;

}

.credit__line{
   line-height: 1.4;
   white-space: nowrap;
   padding: 0;
   margin: 0;
   font-size: var(--size-small);
   color: #98dfa1;
   width: 100%;
   position: absolute;
   top: 0;
   left: 100%;
   animation-name: slide;
   animation-timing-function: linear;
   animation-duration: 30s;
   animation-iteration-count: infinite;
}

.second{
   animation-delay: 15s;
}

@keyframes slide{
   0%{
      left: 100%;
   }
   100%{
      left: -100%;
   }

}

.credit:hover .credit__line{
   animation: none;
   width: auto;
   left: 50%;
   transform: translate(-50%);
}

.credit:hover .second{
   display: none;
}

.credit__line > a {
   text-decoration: underline; 
   color: #98dfa1;
}
