.header{
   background-image: url('../../../public/joey-thompson-4zN_-PKsbWw-unsplash.jpg');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   height: 30vh;
   mix-blend-mode: soft-light;
   position: relative;
   margin-bottom: 2rem;
   /* 
   display: flex;
   justify-content: space-between; */
}

.credit{
   width: 400%;
   padding: 0;
   margin: 0;
   line-height: 1.4;
   white-space: nowrap;
   position: absolute;
   bottom: -1.5rem;
   background-color: black;
   color: white;
   mix-blend-mode: none;
   display: flex;
   justify-content: space-evenly;
   animation-name: slide;
   animation-timing-function: linear;
   animation-duration: 10s;
   animation-iteration-count: infinite;
   
}

@keyframes slide{
   0%{
      left: 0;
   }
   100%{
      left: -100%;
   }

}

.credit-vertical{
   writing-mode: vertical-lr;
   text-orientation: upright;
}

.credit-container > * {
   font-size: 14px;
   color: #0c3603;
}

.credit-line{
   margin-left: 1ch;
}

.credit-line > a {
   font-weight: bold;
   text-decoration: underline; 
   color: #98dfa1;
}
