:root{
  --green: #1DB954;
  --black: #191414;


  --size-small: clamp(.875rem, 2vw, 3rem);
  --size-normal: clamp(1.125rem, 3vw, 4rem);
  --size--large: clamp(1.75rem, 5vw, 5rem);
}

.App {
  background-image: linear-gradient(-45deg, #1DB954 -50%, #191414 120%);
  min-height: 100vh;
}
